apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: three-tier
  labels:
    role: frontend
    env: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec:
      imagePullSecrets:
      - name: ecr-registry-secret
      containers:
      - name: frontend
        image: 619071310531.dkr.ecr.us-east-1.amazonaws.com/frontend:4
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        
        # --- NEW SECTION: CONNECT FRONTEND TO BACKEND ---
        env:
          # CRITICAL: The 'name' below MUST match the variable used in your frontend source code 
          # (e.g., VITE_API_URL, REACT_APP_API_URL, or NEXT_PUBLIC_API_URL).
          - name: VITE_BACKEND_URL 
            # Replace the value below with the AWS LoadBalancer URL of your Backend Service
            value: "http://k8s-threetie-api-eacffe0dac-91244b780efcfae1.elb.us-east-1.amazonaws.com:3000"
