apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: three-tier
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
spec:
  type: LoadBalancer
  selector:
    role: frontend
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP