apiVersion: apps/v1
kind: Deployment
metadata: 
  name: api
  namespace: three-tier
  labels: 
    role: api
    env: demo
spec: 
  replicas: 2
  strategy: 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector: 
    matchLabels:
      role: api
  template:
    metadata:
      labels:
        role: api
    spec:
      imagePullSecrets:
      - name: ecr-registry-secret
      containers:
      - name: api
        image: 619071310531.dkr.ecr.us-east-1.amazonaws.com/backend:6
        imagePullPolicy: Always
        env:
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: backend-secret
                key: DATABASE_URL

          - name: FRONTEND_URL
            valueFrom:
              secretKeyRef:
                name: backend-secret
                key: FRONTEND_URL

          - name: GITHUB_CALLBACK_URL
            valueFrom:
              secretKeyRef:
                name: backend-secret
                key: GITHUB_CALLBACK_URL

          - name: GITHUB_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: backend-secret
                key: GITHUB_CLIENT_ID

          - name: GITHUB_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: backend-secret
                key: GITHUB_CLIENT_SECRET

          - name: JWT_SECRET
            valueFrom:
              secretKeyRef:
                name: backend-secret
                key: JWT_SECRET

          - name: SESSION_SECRET
            valueFrom:
              secretKeyRef:
                name: backend-secret
                key: SESSION_SECRET

          - name: NODE_ENV
            value: "production"

          - name: PORT
            value: "3000"
        ports:
        - containerPort: 3000
        livenessProbe: 
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 2
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1
